!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OlioTest
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    %script{ src: "https://kit.fontawesome.com/e67a02fa16.js", crossorigin: "anonymous" }
  %body
    .container
    - flash.each do |flash_type, message|
      %div{ class: flash_class(flash_type) }= message
    = yield
